<!--sidebar menu-->
<div class="float-start" id="user-nav">
    <p class="title-nav">Detectamos</p>
    <hr class="title-change">
    <ul class="nav flex-column" id="nav-columns">
  
      
   <li class="nav-item" id="column">
      <a class="nav-link" aria-current="Dashboard" routerLink="/dashboard" id="column">
      
        <i class="fa-solid fa-house" style="color: #b0b6bf;"></i>
         Inicio
        </a>
    </li>  
    <li class="nav-item">
      
      <a class="nav-link " aria-current="Create" routerLink="/create" id="column">
        <i class="fa-sharp fa-solid fa-plus"  style="color: #b0b6bf;"></i>
        Crear
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="Calendar" routerLink="#" id="column">
        <i class="fa-solid fa-calendar-days" style="color: #b0b6bf;"></i>
        Calendario
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="Maps" routerLink="#" id="column">
        <i class="fa-solid fa-location-dot" style="color: #b0b6bf;"></i>
        Mapas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="Analytics" routerLink="#" id="column">
        <i class="fa-sharp fa-solid fa-chart-simple" style="color: #b0b6bf;" ></i>
        Analiticas
      </a>
    </li> 
  </ul>
  </div> 

<!--login nav-->  
 <div class="float-end bg-light" id="setting-nav">
    <ul class="nav flex-row">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-comment"  style="color: #b0b6bf;"></i></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-gear" style="color: #b0b6bf;"></i>
        </a>
      </li>
      <li id="login-id">
        <a class="dropdown-item" href="#" (click)="onClick()">
            <i class="fa-solid fa-user" style="color: #b0b6bf;"></i>
        </a>
      </li>

    </ul>
  </div> 

<!--form-->
<p class="title-form">Añadir Nuevo Cliente</p>

<!-- <div class="form-submit"> -->
  <form [formGroup]="formulary" (ngSubmit)="onSubmit()" class="container-form">
    <!--date-->
    <div class="mb-3">
      <label class="form-label">Fecha</label>
      <input type="text" class="form-control" formControlName="date">
    </div>
    <!--name-->
    <div class="mb-3">
      <label class="form-label">Cliente</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <!--id-->
    <div class="mb-3">
      <label class="form-label">Rut</label>
      <input type="text" class="form-control" formControlName="identificator">
    </div>
    <!--contact-->
    <div class="mb-3">
      <label class="form-label">Contacto</label>
      <input type="text" class="form-control" formControlName="contact">
    </div>
    <!--fon-->
    <div class="mb-3">
      <label class="form-label">Fono</label>
      <input type="number" class="form-control" formControlName="fon">
    </div>
    <!--direction-->
    <div class="mb-3">
      <label class="form-label">Direccion</label>
      <input type="text" class="form-control" formControlName="direction">
    </div>
    <!--commune-->
    <div class="mb-3">
      <label class="form-label">Comuna</label>
      <input type="text" class="form-control" formControlName="commune">
    </div>
    <!--system-->
    <div class="mb-3">
      <label class="form-label">Sistema</label>
      <input type="text" class="form-control" formControlName="system">
    </div>
    <!--service-->
    <div class="mb-3">
      <label class="form-label">Servicio</label>
      <input type="text" class="form-control" formControlName="service">
    </div>
    
    <input type="submit" value="Enviar" class="btn btn-info" id="send-form">

  </form>
<!-- </div> -->
<!-- <div style="background-color: red; position: absolute; 
height: 100px; float: center; 
margin-left: 450px; width: 200px;">
  <div class="places">
    <div class="place" *ngFor="let client of clients">
            <p>{{client.date}}</p>
            <p>{{client.name}}</p>
            <p>{{client.identificator}}</p>
            <p>{{client.contact}}</p>
            <p>{{client.fon}}</p>
            <p>{{client.direction}}</p>
            <p>{{client.commune}}</p>
            <p>{{client.system}}</p>
            <p>{{client.service}}</p>

    </div>
</div>
</div> -->
 
<!-- 
<td>Fecha</td> date
<td>Cliente</td> name
<td>Rut</td> id
<td>Contacto</td> contact
<td>Fono</td> Fon
<td>Direccion</td> Direction
<td>Comuna</td> Commune
<td>Sistema</td> System
<td>Servicio</td>  Service-->