.selector-for-some-widget {
    box-sizing: content-box;
  } 
  
  #user-nav{
    position:fixed;
    width: 15%;
    max-width: 40%;
    height: 100%;
    align-items: start;
    align-content: start;
    background: linear-gradient(100deg, #160c64, #3f29e3);		
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .title-nav{
  height: 40px;
  text-align: center;
  align-self: center;
  padding-top: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.4rem;
  
  }
  .title-change{
  margin:auto;
  height: 2px;
  width: 80%;
  color: #fff;
  margin-bottom: 20px;
  }
  
  #nav-columns{
  height:auto;
  margin: auto;
  
  }
  
  #column{
  cursor: default;
  width:100%;
  font-size: 1.2rem;
  color: #fff;
  text-align:justify;
  margin: auto;
  
  
  }
  #column:focus{
  background-color: #160c64;
  color:#fff;
  border-radius: 15px; 
  }
  

  #sidebar-icon{
  padding-right:15px;
  }   
  
  #column:active{
  background: #160c64;
  }

  /* .form-submit{
    background-color: rgb(24, 35, 237);    
  } */

.container-form{
    background: linear-gradient(90deg, #160c64, #3f29e3);		
    display: flex;
    position: relative;
    flex-direction: row; 
    flex-wrap:wrap;
    padding: 20px;
    white-space:normal;
    margin: auto; 
    min-height: 280px;
    max-height: 600px;
    min-width: 300px;
    max-width:850px;
    border-radius: 15px;
    color: #fff;
    left: 80px;
    top: 80px;
}
 

.title-form{
  display: flex;
  position: relative;
  margin: auto;
  right: 160px;
  top: 60px; 
	background: linear-gradient(90deg, #160c64, #3f29e3);		
  align-items: center;
  justify-content: center;
 text-align: center;
  font-size:1.3rem;
  height: 50px;
  min-width: 100px;
  max-width: 250px;
  border-radius: 5px;
  color: #fff;
} 

#send-form{
  top: 32px;
  right: 0px;
  position: relative; 
  width: 100px;
  height: 40px;
  background-color: rgb(234, 221, 221);
}

input{
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  width: 150px;
  height: 40px;
  padding-left:2px;
  padding-right: 2px;
  background-color: #fff;
  color: black;
}

input:active{
  width: 160px;
  height: 50px;
}

#send-form:active{
  position: relative;
  top:20px;
  width: 110px;
  height: 50px;
}
#setting-nav{
  background: linear-gradient(90deg, #160c64, #3f29e3);		
  position: relative;
  right: 0px;
  height:40px;
}
#login-id{
  position: relative;
  top: 5px;
  width: 30px;
  height: 50px;
  padding-left: 4px;
  padding-top: 2px;
  justify-content: center;
}


